.header {
  height: 100vh;
  text-align: center;

  .headerContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
}

.headerShort {
  min-height: 40vh;
}
