.aboutSection {
	background-position: initial;
	background-size: initial;
	background-repeat: repeat;

	@media (min-width: 800px) {
		.aboutContent {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			text-align: left;
		}
	}

	.aboutImage {
		flex-shrink: 0;
	}

	.description {
		font-size: 1.5rem;
	}
}
